<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Listings</h3>
    <a href="/list/newlisting"><button>Create A New Listing</button> </a>
    <% for(let list of listings){ %>
    <ul>
        <li>
            <a href="/list/<%= list._id %>"><%= list.title %></a>
          </li>
    </ul>
    <% } %>
</body>
</html>